
.main {
  max-width: 1100px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 140px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.page-title {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 18px;
  color: var(--black);
}

.checkout-grid {
  display: grid;
  grid-template-columns: 1fr 350px;
  column-gap: 12px;
  align-items:start;
  
}

@media (max-width: 1000px) {
  .main {
    max-width: 500px;
  }

  .checkout-grid {
    grid-template-columns: 1fr;
  }
}


.cart-item-container,
.payment-summary {
  border: 1px solid var(--desert-sand);
  border-radius: 4px;
  padding: 18px;
  color: var(--black);
  line-height: 20px;
}

.cart-item-container {
  margin-bottom: 12px;
}
.cart-item-details p{
  font-size: 13px;
  color: var( --sonic-silver);

}
.payment-summary {
  padding-bottom: 5px;
}

@media (max-width: 1000px) {
  .payment-summary {
    grid-row: 1;
    margin-bottom: 12px;
  }
}


.cart-item-details-grid {
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  column-gap: 25px;
}

@media (max-width: 1000px) {
  .cart-item-details-grid {
    grid-template-columns: 100px 2fr;
    row-gap: 30px;
  }
}

.product-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}


.payment-summary-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 12px;
}

.payment-summary-row {
  display: grid;
  grid-template-columns: 1fr auto;

  font-size: 15px;
  margin-bottom: 9px;
  color: var( --sonic-silver);
}

.payment-summary-money {
  text-align: right;
}

.subtotal-row .payment-summary-money {
  border-top: 1px solid rgb(222, 222, 222);
}

.subtotal-row div {
  padding-top: 9px;
}

.total-row {
  color: var(--dark-orange);
  font-weight: 700;
  font-size: 18px;

  border-top: 1px solid rgb(222, 222, 222);
  padding-top: 18px;
}

.place-order-button {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
  margin-top: 11px;
  margin-bottom: 15px;
  border: 1px  solid  var(--dark-orange);
  background-color: var(--white);
  color: var(--dark-orange);
  font-size: 16px;
}

.place-order-button:is(:hover, :focus){
  background-color: var(--dark-orange);
  color: var(--white);
}
.deleteBtn{
  width: 30px;
  height: 20px;
  background-color: var(--cinnabar);
  border: 1px  solid  var(--cinnabar);
  color: var(--white);
  margin-left: auto;
}
.deleteBtn:is(:hover, :focus){
  border: 1px  solid  var(--cinnabar);
  background-color: var(--white);
  color: var(--cinnabar);
}